@use "vars";
.footer {
  margin-top: 60px;

  &__first__block {
    &__text {
      max-width: 90%;
      margin: 0 auto;
      p {
        font-family: vars.$second-font;
        font-weight: 400;
        font-size: 16px;
        color: rgba(119, 119, 119, 1);
        text-align: left;
        margin-bottom: 32px;
      }
    }
    &__logos {
      max-width: 80%;
      margin-left: 20px;
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;
        .logo-wrap {
          min-width: 40px;
          min-height: 40px;
          img {
            margin: 8px 8px;
            color: rgba(119, 119, 119, 1);
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
  &__second__block {
    margin-left: 20px;
    h3 {
      font-family: vars.$main-font;
      font-weight: 400;
      font-size: 24px;
      color: rgba(34, 34, 34, 1);
      margin-top: 40px;
    }
    &__wrap {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      max-width: 90%;
    }

    .cell {
      margin-top: 20px;
      p {
        font-family: vars.$third-font;
        font-weight: 400;
        font-size: 16px;
        color: rgba(119, 119, 119, 1);
      }
    }
  }
  &__third__block {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 20px;

    h3 {
      font-family: vars.$main-font;
      font-weight: 400;
      font-size: 24px;
      color: rgba(34, 34, 34, 1);
      margin-top: 40px;
      margin-bottom: 34px;
    }
    &__row {
      display: flex;
      max-width: 60%;
      margin: 0 auto;
      align-items: center;
      margin-bottom: 60px;
    }
    &__img {
      margin-right: 24px;
    }
    &__text {
      h5 {
        font-family: vars.$main-font;
        font-weight: 400;
        font-size: 20px;
        color: rgba(34, 34, 34, 1);
      }
    }
  }
  &__fourth__block {
    background-color: rgba(248, 248, 248, 1);
    padding-top: 16px;
    margin-left: 20px;
    #cp {
      font-family: vars.$third-font;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.48 px;
    }
    #tos {
      margin-top: 24px;
      font-family: vars.$third-font;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -0.48 px;
      color: rgba(34, 34, 34, 1);
      margin-bottom: 16px;
      text-decoration: none;
      a {
        text-decoration: none;
      }
    }
  }
}
