.header {
  display: flex;
  max-height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  &__burguer__menu {
    #header__burguer__menu__icon {
      margin-top: 24px;
      margin-left: 19px;
    }
    #header__burguer__menu__close__icon {
      margin-top: 24px;
      margin-left: 19px;
      display: none;
    }
  }
  &__icons__logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10vw;
    grid-row-gap: 0px;
    align-items: center;
    margin-left: 60px;
    margin-right: 26px;
  }
}
