@use "vars";
.pop__up__menu {
  display: none;
  position: absolute;
  font-family: vars.$second-font;
  font-weight: vars.$second-font-weight;
  background-color: white;
  min-width: 100%;
  position: 10vh;
  ul {
    margin-top: 8px;
    margin-left: 21px;
    list-style-type: none;
    margin-bottom: 35px;
    li {
      margin-top: 24px;
    }
  }
}
