@use "main";
@use "header";
@use "popUpMenu";
@use "vars";

.base__for__you {
  background-color: rgba(51, 51, 51, 1);
  &__first__text {
    padding-top: 75px;
    padding-left: 20px;
    font-family: vars.$second-font;
    max-width: 55%;

    h4 {
      font-size: 13px;
      color: rgba(255, 255, 255, 1);
    }
  }
  &__second__text {
    margin-top: 40px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 1);

    h2 {
      font-family: vars.$main-font;
      font-weight: vars.$main-font-weight;
      font-size: 50px;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
  }
  &__take__a__tour {
    background-color: rgba(190, 173, 142, 1);
    max-width: 41%;
    margin-left: 20px;
    margin-top: 40px;
    p {
      color: rgba(255, 255, 255, 1);
      font-family: vars.$second-font;
      font-weight: 700;
      margin: 24px 12px;
    }
  }
  &__learn__more {
    max-width: 42%;
    margin-left: 20px;
    margin-top: 24px;
    margin-bottom: 76px;
    border: 2px solid rgba(255, 255, 255, 0.33);
    p {
      color: rgba(255, 255, 255, 1);
      font-family: vars.$second-font;
      font-weight: 700;
      margin: 24px 12px;
    }
  }
}

.dates {
  background-color: rgba(34, 34, 34, 1);
  padding-bottom: 36px;

  &__arrival {
    margin: 0 auto;
    border-bottom: 1px solid rgba(190, 173, 142, 1);
    max-width: 80%;
    padding-top: 36px;
    margin-left: 20px;
    form {
      min-width: 80%;
      label {
        color: rgba(255, 255, 255, 1);
        font-family: vars.$third-font;
        font-weight: 700;
        font-size: 16px;
      }
      input {
        background-color: rgba(34, 34, 34, 1);
        display: flex;
        flex-direction: row-reverse;
        margin-top: 24px;
        color: rgba(190, 173, 142, 1);
        border: none;
        color-scheme: rgba(190, 173, 142, 1);
        font-family: vars.$third-font;
        font-size: 14px;
        margin-bottom: 14px;
      }
    }
  }
  &__departure {
    margin: 0 auto;
    border-bottom: 1px solid rgba(190, 173, 142, 1);
    max-width: 80%;
    padding-top: 36px;
    margin-left: 20px;

    form {
      min-width: 80%;

      label {
        color: rgba(255, 255, 255, 1);
        font-family: vars.$third-font;
        font-weight: 700;
        font-size: 16px;
      }
      input {
        background-color: rgba(34, 34, 34, 1);
        display: flex;
        flex-direction: row-reverse;
        margin-top: 24px;
        color: rgba(190, 173, 142, 1);
        border: none;
        color-scheme: rgba(190, 173, 142, 1);
        font-family: vars.$third-font;
        font-size: 14px;
        margin-bottom: 14px;
      }
    }
  }
  &__button {
    margin-top: 42px;
    margin-left: 20px;
    background-color: rgb(190, 173, 142);
    max-width: 59%;
    padding: 14px 12px;
    margin-bottom: 36px;
    p {
      color: rgba(255, 255, 255, 1);
      font-family: vars.$second-font;
      font-weight: 700;
      font-size: 14px;
    }
  }
}

.about__us {
  margin-top: 60px;
  background-color: rgba(249, 249, 249, 1);
  padding-bottom: 60px;
  &__h5 {
    margin-left: 20px;
    padding-top: 25px;
    h5 {
      font-family: vars.$second-font;
      font-size: 13px;
      font-weight: 700;
      color: rgba(119, 119, 119, 1);
    }
  }
  &__discover {
    max-width: 85%;
    margin-left: 20px;
    h3 {
      font-size: 50px;
      font-family: vars.$main-font;
      font-weight: 400;
    }
    p {
      font-family: vars.$second-font;
      margin-top: 16px;
      text-align: justify;
      font-weight: 400;
      color: rgba(119, 119, 119, 1);
    }
  }
  &__button {
    margin-top: 24px;
    background-color: rgba(189, 172, 141, 1);
    max-width: 40%;
    padding: 15px 6px;
    margin-left: 20px;
    margin-bottom: 60px;

    p {
      color: rgba(255, 255, 255, 1);
      text-align: center;
    }
  }
  &__first__img {
    width: 80%;
    height: 300px;
    background-color: rgba(228, 228, 228, 1);
    margin: 0 auto;
  }

  &__people__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
  }
  &__front__image {
    z-index: 2;
  }
  &__back__image {
    position: relative;
    z-index: 1;
    img {
      opacity: 0.1;
      scale: 180%;
      translate: 77% -69%;
    }
  }
  &__strong__team__text {
    max-width: 66%;
    margin: -30px auto;

    h4 {
      text-align: center;
      font-family: vars.$main-font;
      font-weight: 400;
      font-size: 30px;
    }
    p {
      text-align: center;
      font-family: vars.$third-font;
      font-weight: 400;
      font-size: 14px;
    }
  }
  &__rooms {
    display: flex;
    flex-direction: column;
    margin-top: 83px;
    &__photo {
      width: 80%;
      height: 300px;
      margin: 0 auto;
      background-color: rgba(228, 228, 228, 1);
    }
    &__text {
      max-width: 80%;
      background-color: rgba(34, 34, 34, 1);
      margin: 0 auto;
      display: flex;
      flex-direction: column;
    }
    &__calendar {
      margin-top: 54px;
      margin-left: 98px;
      margin-right: 106px;
    }
    &__info {
      max-width: 80%;
      margin: 0 auto;
      h4 {
        text-align: center;
        color: rgba(255, 255, 255, 1);
        font-family: vars.$main-font;
        font-weight: 400;
        font-size: 30px;
        margin-top: 30px;
      }
      p {
        margin-top: 21px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        margin-bottom: 38px;
      }
    }
  }
}
