@use "../header";
@use "../popUpMenu";
@use "../vars";
.about__us__page {
  &__first__block {
    background-color: rgba(51, 51, 51, 1);
    padding-top: 75px;
    padding-left: 20px;

    h4 {
      font-family: vars.$second-font;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 2.8px;
      color: rgba(255, 255, 255, 1);
    }
    h2 {
      margin-top: 16px;
      font-family: vars.$main-font;
      font-size: 56px;
      font-weight: 400;
      letter-spacing: -1.2px;
      color: rgba(255, 255, 255, 1);
    }
    &__breadcrums {
      margin-top: 63px;
      max-width: 45%;
      background-color: rgba(255, 255, 255, 1);
      padding: 16px 24px;
      margin-left: 50%;
      h5 {
        text-align: center;
        font-family: vars.$second-font;
        font-size: 16px;
        letter-spacing: -0.48px;
      }
      h5 span {
        color: rgba(190, 173, 142, 1);
      }
    }
  }
}
