html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-color: 3px solid greenyellow;
}

body {
  min-width: 320px;
}

.header {
  display: flex;
  max-height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.header__burguer__menu #header__burguer__menu__icon {
  margin-top: 24px;
  margin-left: 19px;
}
.header__burguer__menu #header__burguer__menu__close__icon {
  margin-top: 24px;
  margin-left: 19px;
  display: none;
}
.header__icons__logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10vw;
  grid-row-gap: 0px;
  align-items: center;
  margin-left: 60px;
  margin-right: 26px;
}

.pop__up__menu {
  display: none;
  position: absolute;
  font-family: "Archivo";
  font-weight: 600;
  background-color: white;
  min-width: 100%;
  position: 10vh;
}
.pop__up__menu ul {
  margin-top: 8px;
  margin-left: 21px;
  list-style-type: none;
  margin-bottom: 35px;
}
.pop__up__menu ul li {
  margin-top: 24px;
}

.base__for__you {
  background-color: rgb(51, 51, 51);
}
.base__for__you__first__text {
  padding-top: 75px;
  padding-left: 20px;
  font-family: "Archivo";
  max-width: 55%;
}
.base__for__you__first__text h4 {
  font-size: 13px;
  color: rgb(255, 255, 255);
}
.base__for__you__second__text {
  margin-top: 40px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
}
.base__for__you__second__text h2 {
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 50px;
}
.base__for__you__buttons {
  display: flex;
  flex-direction: column;
}
.base__for__you__take__a__tour {
  background-color: rgb(190, 173, 142);
  max-width: 41%;
  margin-left: 20px;
  margin-top: 40px;
}
.base__for__you__take__a__tour p {
  color: rgb(255, 255, 255);
  font-family: "Archivo";
  font-weight: 700;
  margin: 24px 12px;
}
.base__for__you__learn__more {
  max-width: 42%;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 76px;
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.base__for__you__learn__more p {
  color: rgb(255, 255, 255);
  font-family: "Archivo";
  font-weight: 700;
  margin: 24px 12px;
}

.dates {
  background-color: rgb(34, 34, 34);
  padding-bottom: 36px;
}
.dates__arrival {
  margin: 0 auto;
  border-bottom: 1px solid rgb(190, 173, 142);
  max-width: 80%;
  padding-top: 36px;
  margin-left: 20px;
}
.dates__arrival form {
  min-width: 80%;
}
.dates__arrival form label {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
}
.dates__arrival form input {
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: row-reverse;
  margin-top: 24px;
  color: rgb(190, 173, 142);
  border: none;
  color-scheme: rgb(190, 173, 142);
  font-family: "Roboto";
  font-size: 14px;
  margin-bottom: 14px;
}
.dates__departure {
  margin: 0 auto;
  border-bottom: 1px solid rgb(190, 173, 142);
  max-width: 80%;
  padding-top: 36px;
  margin-left: 20px;
}
.dates__departure form {
  min-width: 80%;
}
.dates__departure form label {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
}
.dates__departure form input {
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: row-reverse;
  margin-top: 24px;
  color: rgb(190, 173, 142);
  border: none;
  color-scheme: rgb(190, 173, 142);
  font-family: "Roboto";
  font-size: 14px;
  margin-bottom: 14px;
}
.dates__button {
  margin-top: 42px;
  margin-left: 20px;
  background-color: rgb(190, 173, 142);
  max-width: 59%;
  padding: 14px 12px;
  margin-bottom: 36px;
}
.dates__button p {
  color: rgb(255, 255, 255);
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
}

.about__us {
  margin-top: 60px;
  background-color: rgb(249, 249, 249);
  padding-bottom: 60px;
}
.about__us__h5 {
  margin-left: 20px;
  padding-top: 25px;
}
.about__us__h5 h5 {
  font-family: "Archivo";
  font-size: 13px;
  font-weight: 700;
  color: rgb(119, 119, 119);
}
.about__us__discover {
  max-width: 85%;
  margin-left: 20px;
}
.about__us__discover h3 {
  font-size: 50px;
  font-family: " Old Standard TT";
  font-weight: 400;
}
.about__us__discover p {
  font-family: "Archivo";
  margin-top: 16px;
  text-align: justify;
  font-weight: 400;
  color: rgb(119, 119, 119);
}
.about__us__button {
  margin-top: 24px;
  background-color: rgb(189, 172, 141);
  max-width: 40%;
  padding: 15px 6px;
  margin-left: 20px;
  margin-bottom: 60px;
}
.about__us__button p {
  color: rgb(255, 255, 255);
  text-align: center;
}
.about__us__first__img {
  width: 80%;
  height: 300px;
  background-color: rgb(228, 228, 228);
  margin: 0 auto;
}
.about__us__people__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}
.about__us__front__image {
  z-index: 2;
}
.about__us__back__image {
  position: relative;
  z-index: 1;
}
.about__us__back__image img {
  opacity: 0.1;
  scale: 180%;
  translate: 77% -69%;
}
.about__us__strong__team__text {
  max-width: 66%;
  margin: -30px auto;
}
.about__us__strong__team__text h4 {
  text-align: center;
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 30px;
}
.about__us__strong__team__text p {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}
.about__us__rooms {
  display: flex;
  flex-direction: column;
  margin-top: 83px;
}
.about__us__rooms__photo {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  background-color: rgb(228, 228, 228);
}
.about__us__rooms__text {
  max-width: 80%;
  background-color: rgb(34, 34, 34);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.about__us__rooms__calendar {
  margin-top: 54px;
  margin-left: 98px;
  margin-right: 106px;
}
.about__us__rooms__info {
  max-width: 80%;
  margin: 0 auto;
}
.about__us__rooms__info h4 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: " Old Standard TT";
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
}
.about__us__rooms__info p {
  margin-top: 21px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 38px;
}

/*# sourceMappingURL=style.css.map */
